# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/
